{% extends 'base/base.html' %}
{% block page_content %}
<div class="col-xl-6 col-md-6 mb-6">
    <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Usuario: {{ user.username }} {{ user.get_full_name }}
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <mark>Não tem privilegios suficientes</mark> para carregar opção solicitada
                        <br>
                        <small>Para poder acessar faça login com privilegios necessários</small>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'bases:home' %}" class="btn btn-success"><span class="fa fa-home"> Ir ao início</span></a>
                            <a href="{% url 'bases:login' %}" class="btn btn-success"><span class="fa fa-user"> Entrar com outro usuário</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}